<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>

  <akka>
    <hocon>
      <![CDATA[
      my-dispatcher {
          type = Dispatcher
          throughput = 100
          throughput-deadline-time = 0ms
      }
      my-dispatcher2 {
          type = Dispatcher
          throughput = 100
          throughput-deadline-time = 0ms
      }
      
      fork-dispatcher {
        type = ForkJoinDispatcher
        throughput = 30
        dedicated-thread-pool {
            thread-count = 5
            deadlock-timeout = 3s
            threadtype = background
        }
      }
      fork-dispatcher2 {
        type = ForkJoinDispatcher
        throughput = 30
        dedicated-thread-pool {
            thread-count = 5
            deadlock-timeout = 3s
            threadtype = background
        }
      }
      fork-dispatcher3 = fork-dispatcher
      akka{
          loglevel = DEBUG
          actor {
            default-dispatcher = {
              executor = channel-executor
              fork-join-executor {
                parallelism-min = 4
                parallelism-factor = 1
                parallelism-max = 64
              }
            }
            deployment {
              "/parent/*" {
                router = random-pool
                nr-of-instances = 5
              }
            }
          }
        }
      ]]>
    </hocon>
  </akka>
</configuration>