<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>

  <akka>
    <hocon>
      <![CDATA[
      akka{
          loglevel = DEBUG
          actor.deployment{
            /worker_group {
              router = round-robin-group
              routees.paths = ["/user/w0", "/user/w1", "/user/w2"]
            }
          }
        }
      ]]>
    </hocon>
  </akka>
</configuration>