<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>

  <akka>
    <hocon>
      <![CDATA[
      my-dispatcher {
          type = Dispatcher
          throughput = 100
          throughput-deadline-time = 0ms
      }
      my-dispatcher2 {
        type = ForkJoinDispatcher
        throughput = 30
        dedicated-thread-pool {
            thread-count = 3
            deadlock-timeout = 3s
            threadtype = background
        }
      }
      akka{
          loglevel = DEBUG
          actor.deployment{
            /parent/worker_pool {
              dispatcher = my-dispatcher2
              router = round-robin-pool
              nr-of-instances = 3
            }
          }
        }
      ]]>
    </hocon>
  </akka>
</configuration>