<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>

  <akka>
    <hocon>
      <![CDATA[
      akka{
          loglevel = DEBUG
          actor.deployment{
            /parent/worker_sgf_pool {
              router = scatter-gather-pool
              nr-of-instances = 20
              within = 10s
            }
          }
        }
      ]]>
    </hocon>
  </akka>
</configuration>