<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>

  <akka>
    <hocon>
      <![CDATA[
        akka {
            persistence.journal {
                plugin = "akka.persistence.journal.inmem2"
                inmem2 {
                    class = "Akka.Persistence.Sqlite.Journal.BatchingSqliteJournal, Akka.Persistence.Sqlite"
                    plugin-dispatcher = "akka.actor.default-dispatcher"
                }
            }
        }
      ]]>
    </hocon>
  </akka>
</configuration>