<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>

  <akka>
    <hocon>
      <![CDATA[
        akka{
            loglevel = DEBUG
            persistence.journal
            {
              plugin = "akka.persistence.journal.redis"

              inmem2
              {
                  class = "MyCustomJournal.MyJournal, FSM002"
                  plugin-dispatcher = "akka.actor.default-dispatcher"
              }

              redis
              {
                class = "Akka.Persistence.Redis.Journal.RedisJournal, Akka.Persistence.Redis"
                configuration-string = "127.0.0.1"
                key-prefix = "test-jn"
              }  
            }
            persistence.snapshot-store
            {
              plugin = "akka.persistence.snapshot-store.redis"

              redis {
                class = "Akka.Persistence.Redis.Snapshot.RedisSnapshotStore, Akka.Persistence.Redis"
                configuration-string = "127.0.0.1"
                key-prefix = "test-sn"
}  
            }
        }
      ]]>
    </hocon>
  </akka>
</configuration>