<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>

  <akka>
    <hocon>
      <![CDATA[
      akka{
          loglevel = DEBUG
          actor.deployment{
            /worker_pool {
              router = round-robin-pool
              nr-of-instances = 3
            }
            /worker_group {
              router = round-robin-group
              routees.paths = ["/user/workers/w1", "/user/workers/w2", "/user/workers/w3"]
            }
            /worker_hash_pool {
              router = consistent-hashing-pool
              nr-of-instances = 3
              virtual-nodes-factor = 10
            }
          }
        }
      ]]>
    </hocon>
  </akka>
</configuration>