<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>

  <akka>
    <hocon>
      <![CDATA[
        akka{
          persistence
          {
            journal
            {
              plugin = "akka.persistence.journal.redis"

              redis
              {
                class = "Akka.Persistence.Redis.Journal.RedisJournal, Akka.Persistence.Redis"
                configuration-string = "127.0.0.1"
                key-prefix = "test-jn"
              }  
            }
            snapshot-store
            {
              plugin = "akka.persistence.snapshot-store.redis"

              redis 
              {
                class = "Akka.Persistence.Redis.Snapshot.RedisSnapshotStore, Akka.Persistence.Redis"
                configuration-string = "127.0.0.1"
                key-prefix = "test-sn"
              }  
            }
            query.journal
            {
              my-journal
              {
                class = "PersitenceQuery.MyJournals.MyJournalProvider, PersitenceQuery"
              }

              redis 
              {
                class = "Akka.Persistence.Redis.Query.RedisReadJournalProvider, Akka.Persistence.Redis"
                refresh-interval = 3s
                configuration-string = "127.0.0.1"
                key-prefix = "test-jn"
              }  
            }
          }
        }
      ]]>
    </hocon>
  </akka>
</configuration>