<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>

  <akka>
    <hocon>
      <![CDATA[
      akka{
          loglevel = DEBUG
          actor.deployment{
            /parent/worker_resize_pool {
              router = round-robin-pool
              resizer {
                  enabled = on
                  lower-bound = 1
                  upper-bound = 10
              }
            }
          }
        }
      ]]>
    </hocon>
  </akka>
</configuration>