<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>

  <akka>
    <hocon>
      <![CDATA[
      akka{
          loglevel = DEBUG
          actor.deployment{
            /parent/worker_tc_pool {
              router = tail-chopping-pool
              nr-of-instances = 5
              within = 10s
              tail-chopping-router.interval = 1s
            }
          }
        }
      ]]>
    </hocon>
  </akka>
</configuration>